p {
  font-weight: 600;
  font-style: normal;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: justify;
  margin: auto;
  height: 200px;
}

.card-element {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  padding: 10px;
  height: 120%;
  margin: auto;
}

.centerItems {
  margin: auto;
  width: 50%;
}

body {
  background-image: linear-gradient(to right, #21243d, #ff7c7c);
}
