p {
  font-weight: 600;
  font-style: normal;
}

.center-content {
  margin: 0 auto;
  display: block;
}

.centered {
  position: fixed;
  transform: translate(-50%, -50%);
  /* position: auto;
  transform: translate(0, 0); */
  display: block;
  top: auto;
  top: 50%;
  left: 50%;
  transition: all ease 0.5s;
}

.registercentered {
  position: auto;
  transform: translate(0, 0);
  display: block;
  top: auto;
  top: 50%;
  left: 50%;
  transition: all ease 0.5s;
}

.card-title-name {
  font-size: 35px;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: white;
}

.centerItems {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.box-message-letter {
  max-width: 280px;
  padding: 10px;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(to left, #903749, #53354a);
  height: 100%;
  width: 100%;
  margin: -1px 0px 0px 0px;
  background-size: 101% 101%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width: 596px) {
  .centered {
    position: auto;
    top: auto;
    left: 0;
    padding: 20px;
    margin: 0;
    transform: translate(0, 0);
    display: block;
    width: auto;
    height: 100%;
  }

  .registercentered {
    position: auto;
    top: auto;
    left: 0;
    padding: 20px;
    margin: 0;
    transform: translate(0, 0);
    display: block;
    width: auto;
    height: 100%;
  }

  .card-center-form {
    position: initial;
    margin: auto;
  }

  .box-message-letter {
    max-width: 500px;
    padding: 10px;
  }
}
