p {
  font-weight: 600;
  font-style: normal;
}

.card-title-name {
  font-size: 30px;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: white;
}

.centerItems {
  margin: auto;
  width: 80%;
}

body {
  background-image: linear-gradient(to left, #903749, #53354a);
}
