<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
 	<include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOGS" value="${catalina.home}/logs/YoTeReparo" />
 
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{ISO8601} - %highlight(%-5level) %yellow(%C{1.}): %msg%n%throwable
            </pattern>
        </encoder>
    </appender>
 
    <appender name="RollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/YoTeReparo.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d - %p - %C{1.}: %m%n</Pattern>
        </encoder>
 
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>
            	${LOGS}/archived/YoTeReparo-%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>3</maxHistory>
    		<totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>
     
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>
    
    <!-- LOG "org.springframework*" at INFO level -->
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
    
    <!-- LOG "org.hibernate*" at INFO level -->
    <logger name="org.hibernate" level="info" additivity="false">
        <appender-ref ref="Console" />
    </logger>
 
    <!-- LOG "com.yotereparo*" at TRACE level -->
    <logger name="com.yotereparo" level="trace" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>
 
</configuration>