.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2b2e4a;
}

.icon-picture {
  height: 40px;
  width: 80px;
  padding: 0px 0px 0px 20px;
}

.stick-header {
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 0;
  position: static;
  overflow: hidden;
  background-color: #53354a;
  transition: ease-in all 0.5s;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #e84545;
}

@media screen and (max-width: 596px) {
  .stick-header {
    display: none;
  }

  .icon-picture {
    display: none;
  }
}
