.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2b2e4a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 0;
  position: static;
  overflow: hidden;
  background-color: #53354a;
  transition: ease-in all 0.5s;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #e84545;
}

@media screen and (max-width: 596px) {
  .navbar {
    list-style-type: none;
    background-color: #2b2e4a;
    width: 15%;
    display: inline-flexbox;
  }

  ul {
    list-style-type: none;
    margin: 0;
    height: 100%;
    padding: 0;
    overflow: hidden;
    left: 0;
    position: fixed;
    min-width: 75px;
    width: 10%;
    opacity: 0.3;
    background-color: #e84545;
    transition: ease-in all 0.5s;
  }

  li {
    float: right;
  }

  li a:hover {
    background-color: #2b2e4a;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 14px 16px;
    text-decoration: none;
  }
}
