.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2b2e4a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  background-color: #53354a;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #e84545;
}
